*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,footer{
	background: #f81b1b;
}

footer{
       margin-top: auto;
}

footer .menu li{
	display: block;
	padding: 0 20px;
}

.menu-item,
button{
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
}

table{
	 margin-left: auto;
  margin-right: auto;
}


h2{
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 36px;
	color: #ffffff;
}

header,footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}

.menu{
	list-style: none;
}

.menu li{
	display: inline-block;
	padding: 0 20px;
}

.menu li a{
	transition: all .3s ease;
}

.menu a:hover{
	color: #39f;
}

button{
	padding: 9px 25px;
	background: #0d94a6;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all .3s ease;
}

button:hover{
	background: #39f
}


header image{
	width: 50px;
	height: 50px;	
}